.container.votation{

}
.votation h1{
    color: rgb(0, 0, 0);
}
.create-votation .select-type-votation{
    margin-top: 0rem;
    text-align: center;
}

.create-votation .select-type-votation-child{
    justify-content: center;
    display: flex;
}


.create-votation .select-type-votation .votation-select{
    padding: 1rem;
    border-left: 1px solid var(--black-color);
    border-right: 1px solid var(--black-color);
    border-top: 1px solid var(--black-color);
    border-bottom: 0rem;
    border-radius: 1rem 1rem 0rem 0rem;
    cursor: pointer;
}
.create-votation .select-type-votation .votation-select:hover{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.16rgba(218, 222, 153, 0.224),153,1) 35%, rgba(0, 0, 0, 0.189) 100%);
}

.create-votation .select-type-votation .votation-select.select{
    background: rgb(0, 0, 0);
    
}
.create-votation .select-type-votation .votation-select.select h1{
    color: var(--white-color);
}
.create-votation .select-type-votation .votation-select p{
    color: grey;
}



.create-votation .select-type-votation .votation-select:hover h1{
    color: var(--white-color);
}
.create-votation .select-type-votation .votation-select.first{
    border-left: 0rem;
    
}
.create-votation .select-type-votation .votation-select.last{
    border-right: 0rem;
    
}
.buttons-nav-sticky{
    margin-top: 3rem;
    position: sticky;
    width: 100%;
    text-align: center;
}
.next-button{
    margin: 1rem;
    padding: 2rem 3rem 2rem 3rem;
    color: var(--white-color);
    border-radius: 1rem;
    background-color: var(--black-color);
    border: 1px solid transparent;
    cursor: pointer;
}
.next-button:hover{
    border: 1px solid var(--white-color);
    background-color: transparent;
    color: var(--white-color);
    font-weight: 900;
}

.back-button{
    margin: 1rem;
    padding: 2rem 3rem 2rem 3rem;
    color: var(--white-color);
    border-radius: 1rem;
    background-color: var(--black-color);
    border: 1px solid transparent;
    cursor: pointer;
}
.back-button:hover{
    border: 1px solid var(--white-color);
    background-color: transparent;
    color: var(--white-color);
    font-weight: 900;
}


.configurate-dates-votation{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 3rem;
}
.configurate-dates-votation form{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
}
.add-options-votation{
    margin-top: 3rem
}

.add-options-votation .add-icon{
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    padding: 1rem;
    aspect-ratio: 1 /1;
    cursor: pointer;
    
}
.add-options-votation .add-icon:hover{
    background-color: rgb(69, 66, 66);
    border-radius: 100%;
    padding: 1rem;
    aspect-ratio: 1 /1;
    cursor: pointer;
    
}
.add-options-votation .add-icon span{
    width: auto !important;
    height: auto !important;
    margin: 0px;
    
}
.add-options-votation .add-icon svg{
    color: white;
    width: 20px;
    height: 20px;
    
}
.add-options-votation .optionSelected{
    border-bottom: 1px solid rgba(0, 0, 0, 0.106);
    padding: 1rem;
    justify-content: space-between;
}

.add-options-votation .optionSelected span{
    font-size: 1.5rem;
    color:rgb(72, 72, 72);
}

.add-options-votation .optionSelected .remove-icon{
    font-size: 1.5rem;
    color:rgb(72, 72, 72);
}




.add-options-votation .optionSelected .remove-icon{
    cursor: pointer;
    
}
.add-options-votation .optionSelected .remove-icon:hover svg{
    color: rgb(153, 92, 92);
    
}

.add-options-votation .optionSelected .remove-icon svg{
    color: rgb(207, 37, 37);
    width: 25px;
    height: 25px;
    
}

@media only screen and (max-width: 850px) {
	.create-votation .select-type-votation-child{
        display: block;
    }
    .configurate-dates-votation form{
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        
    }
}