.layout-container{
    width: 100%;
    font-family: 'Oswald', sans-serif;
}

/*FORMULARIO*/

.formulario-content{ 
    max-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows:  repeat(2, 1fr);
 
    margin: 20px auto;
    margin-bottom: 0px;

}

 /* FORMULARIO-DATE  */
.formulario-date form { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    height: 400px;
    align-items: flex-start;
    
}

.formulario-date label { 
    padding-bottom: 14px;
    padding-top: 12px;
    font-size: 1.2rem;
    
    
}

.formulario-date input { 
    width: 50%;
    background-color: transparent !important;
}

/*Formulario perfil */

.formulario-perfil{ 
    border-left: 1px solid black;
     
}

.formulario-perfil input {
    width: 50%;
}

.formulario-perfil label { 
    padding-bottom: 14px;
    padding-top: 12px;
    font-size: 1.2rem
}

/*ESTILO IMAGE*/

.giro-image{
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

.giro-image img { 
    width: 100%;
    object-fit:cover;
}


/*FORMULARIO PERFIL*/

.formulario-perfil form { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    margin-left: 18px;
    padding: 10px;
    margin-top: 6px;
}


/*FORMULARIO LOCALIZACION*/

.formulario-location {
   
    grid-column-start: 1;
    grid-column-end: 3;
    
    height: 300px;
    border-bottom: 1px solid;
   
}

.formulario-location form { 
    display: flex;
    justify-content:space-evenly;
   
    align-items: center;  
}

.formulario-location form section { 
   
    width: 30%;
}

.formulario-location section p { 
    font-size: 1.2rem;
    line-height: 2rem;
    font-family: 'Oswald', sans-serif;
}

.formulario-location select { 
   
    width: 60%;
    font-family: 'Oswald', sans-serif;
    font-size: 0.90rem;
    /* text-align: center  ; */
}

.formulario-location select option { 
   
    font-family: 'Oswald', sans-serif;
    font-size: 0.90rem;
  
}
