.presentation {
  background-color: #211236;
}
.imagesinvert img{
  filter: blur(3px);
  opacity: 0.3;
}


.technologie{
  text-align: center !important;
  align-items: center !important;
  margin: 2rem;
}
.technologie span{
  font-size: 4rem;
  color: rgb(173, 63, 158);
}
.technologie h2{
  color: white;
  font-size: 2rem;
}

.technologie p{
  font-size: 1rem;
  color:rgb(226, 222, 222);
}