.container.dashboard{
    padding-top: 6rem;
}

.dashboard-section-one{
  text-align: center;
  align-items: center;
  padding-bottom: 14rem;
  position: relative;
}

.dashboard-section-one h1{
    font-size: 5rem;
    color: var(--black-color);
    line-height: 6rem;
}
.animate-title{
    display: inline;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
  background-position: left;
  background-size: 0%;
  background-image: linear-gradient(to left, var(--primary-color), var(--secondary-color));
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  animation: titleCrazy 4s linear infinite
}
@keyframes titleCrazy {
  
  0% {
    background-size: 0%;
  }
  50% {
    background-size: 50%;
  }
  100% {
    background-size: 100%;
  }
}


.add-votation{
  justify-content: space-between;
}

.add-votation .free{
  color: green;
  margin: 0.3rem;
}
.add-votation svg{

  cursor: pointer;
  margin: 0.5rem;
}

.dashboard-section-twoo h1{
  color: var(--black-color);
  font-size: 3rem;
}
.dashboard-section-twoo p{
  color: grey;
}

.social-button{
  margin: 3rem;
  margin-left: 0rem;
  margin-right: 1rem;
  padding: 1rem;
  width: max-content;
  background-color: rgb(38, 38, 38);
  border-radius: 1rem;
  border: none;
  padding-right: 2rem;
  padding-left: 2rem;
  cursor: pointer;
}
.social-button:hover{
  background-color: black;
}
.social-button svg, span{
  margin-right: 0.5rem;
  color: white;
  width: 2rem !important;
  height: 2rem !important;
  font-size: 2rem;
}

.social-button h1{
  font-size: 1rem;
  color: var(--white-color);
  line-height: 1rem;
}
.social-button p{
  padding-top: 0rem;
  font-size: .6rem;
  color: var(--white-color);
  text-align:justify;
  word-wrap: keep-all;
  line-height: 0.8rem;
  padding-right: 0rem;
}




.grid {
  margin-top: 8rem;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  columns: 2;
  grid-gap: 1rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .grid { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  
  .grid { grid-template-columns: repeat(3, 1fr); }
}










.dashboard-content{
  position:relative;
}
.dashboard-content *{
  z-index: 1;
}

.circle-background{
  z-index: 0;
  position: absolute;
  right: 0%;
  top: 0%;
  width: 600px;
  height: 600px;
  border-radius: 70% 0% 70% 100%;
  background: linear-gradient(to right, var(--secondary-color), var(--primary-color));

}


.cards-setps-dashboard{
  margin: 0rem;
  padding: 3rem;
  justify-content: center;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.cards-setps-dashboard:hover{
  z-index: 2;
  background-color: black;
}
.cards-setps-dashboard:hover h1{
  color: white;
}
.cards-setps-dashboard.one{
  border-right: 1px solid var(--primary-color);

}
.cards-setps-dashboard.twoo{
  border-bottom: 1px solid rgb(24, 23, 23);
}
.cards-setps-dashboard.three{
  border-top: 1px solid rgb(16, 16, 16);
}
.cards-setps-dashboard.four{
  border-left: 1px solid var(--primary-color);

}
.cards-setps-dashboard span{
  position: absolute;
  right: 1rem;
  font-size: 1rem;
  top: 1rem;
  color: grey;
}

.cards-setps-dashboard h1{
  font-size: 1rem;
  font-weight: 300;
  color: rgba(198, 191, 191, 0.517);

}
.cards-setps-dashboard p{
  font-size: 0.8rem;
  color: rgb(110, 65, 184);
}

.cards-setps-dashboard .step{
  margin: 1rem;
  border-radius: 100%;
  padding: 1rem;
  background-color: white;
}
.cards-setps-dashboard .step p{
  color: var(--white-color);
}

.css-jzi4yh{

  color: #3d717a !important
 }
.css-jzi4yh:hover{

 color: var(--primary-color) !important
}

.panel-dashboard img{
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 5px rgba(249, 249, 249, 0.663);
}

.boxes-dashboard{
  position: relative;
}
.boxes-dashboard .box {
  position:absolute;
  transform: rotate(180deg);
  --w:8px;
  width: 100%;
  height:150px;
  z-index:0;
  background:
    radial-gradient(farthest-side at bottom right,var(--background-color) calc(100% - var(--w) + 1px),transparent calc(100% - var(--w) + 1px) 99%,var(--background-color)) top 0 right calc(40% - 0.6*56px + var(--w)/2)/54px 50%,
    radial-gradient(farthest-side at top left,var(--background-color) calc(100% - var(--w) + 1px),transparent calc(100% - var(--w) + 1px) 99%,var(--background-color))  bottom 0 left calc(60% - 0.4*56px + var(--w)/2)/54px 50%,
    
    
    linear-gradient(var(--background-color),var(--background-color)) bottom right/calc(40% - 50px)  calc(100% - var(--w)),
    linear-gradient(var(--background-color),var(--background-color)) bottom right/calc(40% - var(--w)/2 + 1px) 50%,
    linear-gradient(var(--background-color),var(--background-color)) top    left /calc(60% - 50px) calc(100% - var(--w)),
    linear-gradient(var(--background-color),var(--background-color)) top    left /calc(60% - var(--w)/2 + 1px) 50%,
    
    
    linear-gradient(to right, var(--primary-color), var(--secondary-color));
  background-repeat:no-repeat;
  border-top:10px solid var(--background-color);
  border-bottom:10px solid var(--background-color);
}

.boxes-dashboard .box1 {
  position:absolute;
  bottom: -3rem;
  --w:8px;
  width: 100%;
  height:150px;
  z-index:0;
  background:
    radial-gradient(farthest-side at bottom right,var(--background-color) calc(100% - var(--w) + 1px),transparent calc(100% - var(--w) + 1px) 99%,var(--background-color)) top 0 right calc(40% - 0.6*56px + var(--w)/2)/54px 50%,
    radial-gradient(farthest-side at top left,var(--background-color) calc(100% - var(--w) + 1px),transparent calc(100% - var(--w) + 1px) 99%,var(--background-color))  bottom 0 left calc(60% - 0.4*56px + var(--w)/2)/54px 50%,
    
    
    linear-gradient(var(--background-color),var(--background-color)) bottom right/calc(40% - 50px)  calc(100% - var(--w)),
    linear-gradient(var(--background-color),var(--background-color)) bottom right/calc(40% - var(--w)/2 + 1px) 50%,
    linear-gradient(var(--background-color),var(--background-color)) top    left /calc(60% - 50px) calc(100% - var(--w)),
    linear-gradient(var(--background-color),var(--background-color)) top    left /calc(60% - var(--w)/2 + 1px) 50%,
    
    
    linear-gradient(to right, var(--secondary-color), var(--primary-color));
  background-repeat:no-repeat;
  border-top:10px solid var(--background-color);
  border-bottom:10px solid var(--background-color);
}
.css-zke1y{
  color: rgba(255, 255, 255, 0.522);
}