
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
  --black-color: #070606;
  --white-color: #FFFDFA;
  --primary-color: #AA336A;
  --secondary-color: #53464d;
  
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  letter-spacing: 0.3rem;
  
}
p{
  line-height: 2rem;
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
}
body{
  margin: 0rem;
  background-color: #f5f0f3;
}
*{
  transition: 0.2s;
}
.container{
  margin-left: 3%;
  margin-right: 5%;
}
@media only screen and (max-width: 650px) {
	
}
@media only screen and (max-width: 400px) {
  
}